<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/output.css" rel="stylesheet">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">   
    <title>Login</title>
</head>
<body class="flex flex-col min-h-svh bg-gray-900 px-8">
    <%- include("partials/header") %> 
    <main class="grow">
        <nav class="flex align-middle py-4 mt-4 mb-16">
            <a href="/" class="text-gray-400 hover:text-white">home</a>
            <span class="text-gray-400 mx-2">|</span> 
            <a href="/auth/log-in" class="text-cyan-400 hover:text-white">log in</a>
        </nav>
        <div class="w-full">           
            <form action="/auth/log-in" method="POST" class="flex flex-col max-w-100 mx-auto gap-4 p-8 rounded-xs bg-gray-800">
                <h1 class="text-3xl sm:text-4xl text-white mb-6">Log in</h1>
                <%- include('partials/validation_errors') %>               
                <input 
                    type="text" 
                    name="username" 
                    id="username"
                    value="<%= data ? data.username : '' %>" 
                    minlength="1" 
                    maxlength="32"
                    placeholder="Username"
                    autocomplete="off"
                    class="w-full px-4 py-2 rounded-xs bg-gray-700 text-white placeholder-gray-400 focus:outline-none focus:ring-1 focus:ring-blue-500" 
                    required
                >                
                <input 
                    type="password" 
                    name="password" 
                    id="password"
                    value="<%= data ? data.password : '' %>" 
                    minlength="5" 
                    maxlength="16"
                    placeholder="Password"
                    autocomplete="off"
                    class="w-full px-4 py-2 rounded-xs bg-gray-700 text-white placeholder-gray-400 focus:outline-none focus:ring-1 focus:ring-blue-500" 
                    required
                >
                <button 
                    type="submit"
                    class="py-2 px-4 rounded-xs bg-linear-to-r from-cyan-400 to-purple-500 text-white font-bold shadow-lg hover:from-cyan-500 hover:to-purple-600 transition" 
                >
                    Submit
                </button>                
                <p class="text-sm text-gray-400 mt-2">
                    Not registered yet?
                    <a 
                        href="/auth/sign-up" 
                        class="ml-2 text-cyan-400
                             hover:text-cyan-500"
                    >
                        Sign up
                    </a>
                </p>                           
            </form>
        </div>
    </main>
    <%- include("partials/footer") %>     
</body>
</html>