<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/output.css" rel="stylesheet">    
    <title>Sign up</title>
</head>
<body class="flex flex-col min-h-svh bg-gray-900 px-8">
    <%- include("partials/header") %>    
    <main class="grow">
        <nav class="flex align-middle mt-4 mb-8">
            <a href="/" class="text-gray-400 hover:text-white">home</a>
            <span class="text-gray-400 mx-2">|</span> 
            <a href="/auth/sign-up" class="text-cyan-400 hover:text-white">sign up</a>
        </nav>
        <div class="w-full">            
            <form action="/auth/sign-up" method="POST" class="flex flex-col max-w-100 mx-auto gap-4 p-8 rounded-xs bg-gray-800">
                <h1 class="text-3xl sm:text-4xl text-white mb-6">Sign up</h1>
                <%- include("partials/validation_errors") %>               
                <input 
                    type="text" 
                    name="username" 
                    id="username"
                    value="<%= data ? data.username : '' %>" 
                    minlength="1" 
                    maxlength="16"
                    placeholder="Username"
                    autocomplete="off"
                    class="w-full px-4 py-2 rounded-xs bg-gray-700 text-white placeholder-gray-400 focus:outline-none focus:ring-1 focus:ring-blue-500" 
                    required
                >              
                <input 
                    type="password" 
                    name="password" 
                    id="password"
                    value="<%= data ? data.password : '' %>" 
                    minlength="5" 
                    maxlength="16"
                    placeholder="Password"
                    class="w-full px-4 py-2 rounded-xs bg-gray-700 text-white placeholder-gray-400 focus:outline-none focus:ring-1 focus:ring-blue-500" 
                    required
                >               
                <input 
                    type="password" 
                    name="passwordConfirmation" 
                    id="passwordConfirmation"
                    value="<%= data ? data.passwordConfirmation : '' %>" 
                    minlength="5" 
                    maxlength="16"
                    placeholder="Confirm password"
                    class="w-full px-4 py-2 rounded-xs bg-gray-700 text-white placeholder-gray-400 focus:outline-none focus:ring-1 focus:ring-blue-500" 
                    required
                >                   
                <button 
                    type="submit"
                    class="py-2 px-4 rounded-xs bg-linear-to-r from-cyan-400 to-purple-500 text-white font-bold shadow-lg hover:from-cyan-500 hover:to-purple-600 transition" 
                >
                    Submit
                </button>
                <a href="/auth/log-in" class="flex justify-between text-sm text-gray-400 mt-2">
                    <p class="hover:text-white transition">Have an account?</p>
                </a>                        
            </form>
        </div>
    </main>    
    <%- include("partials/footer") %>     
</body>
</html>