<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/output.css" rel="stylesheet">
    <script defer src="/script/script.js"></script>
    <script defer src="/script/sidebar.js"></script>
    <script defer src="/script/foldersAndFilesDisplay.js"></script>     
    <title>My Storage</title>
</head>
<body class="flex flex-col min-h-svh bg-gray-900 px-8">
    <%- include("partials/header") %>    
    <main class="grow flex flex-col 
                      md:grid 
                      md:grid-cols-[360px_1fr] 
                      md:grid-rows-[auto_1fr]"
    >      
        <nav class="flex col-span-2 align-middle mt-4 mb-8">
            <a href="/" class="text-gray-400 hover:text-white">home</a>
            <span class="text-gray-400 mx-2">|</span> 
            <a href="/storage" class="text-cyan-400 hover:text-white">my storage</a>
        </nav>        
        <%- include("partials/sidebar") %>
        <div class="grow flex flex-col">            
            <div class="flex mb-6 md:mb-2 md:pl-4">                          
                <button 
                    id="addNewFolderButton" 
                    class="relative flex items-center mr-4 border border-gray-400  md:border-none rounded-xs pl-10 pr-4 py-1 text-gray-400 
                                hover:text-white 
                                hover:border-white"
                >
                    <span class="absolute left-3.5 text-3xl font-light">&#43;</span>
                    New Folder
                </button>                         
                <button id="addNewFileButton" class="relative flex items-center border  border-gray-400  md:border-none rounded-xs pl-10 pr-4 py-1 text-gray-400 
                                hover:text-white 
                                hover:border-white"
                >
                    <span class="absolute left-3.5 text-3xl font-light">&#43;</span>
                    New File
                </button>          
            </div>                    
            <%- include("partials/folders_and_files_display") %>
        </div>
        <%- include("partials/new_folder_form") %>
        <%- include("partials/new_file_form") %>
        <%- include("partials/confirm_delete_modal") %>
        <%- include("partials/file_details") %>
        <%- include("partials/share_folder_modal") %>    
    </main>
    <%- include("partials/footer") %>    
</body>
</html>