<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/output.css" rel="stylesheet">
    <script defer src="/script/script.js"></script>    
    <title>My Storage</title>
</head>
<body class="flex flex-col min-h-svh bg-gray-900 px-8">
    <%- include("partials/header") %>
    <main class="grow flex flex-col">      
        <nav class="flex align-middle mt-4 mb-8">
            <a href="/" class="text-gray-400 hover:text-white">home</a>
            <span class="text-gray-400 mx-2">|</span> 
            <a href="storage" class="text-cyan-400 hover:text-white">my storage</a>
        </nav>            
        <div class="flex mb-4">                          
            <button id="addNewFolderButton" class="flex items-center mr-2 border border-transparent rounded-xs px-4 py-1 text-gray-400 
                            hover:text-white 
                            hover:border-white"
            >
                <span class="mr-2 text-3xl font-light">&#43;</span>
                New Folder
            </button>                         
            <button id="addNewFileButton" class="flex items-center mr-2 border border-transparent rounded-xs px-4 py-1 text-gray-400 
                            hover:text-white 
                            hover:border-white"
            >
                <span class="mr-2 text-3xl font-light">&#43;</span>
                New File
            </button>          
        </div>
        <div class="flex-1 bg-gray-800">
            <% if (locals.folders) { 
                folders.forEach((folder) => { %>
                    <div><%= folder.name %></div>
            <% })} %>
        </div>
        <%- include("partials/new_folder_popup") %>
        <%- include("partials/new_file_popup") %>    
    </main>    
    <%- include("partials/footer") %>    
</body>
</html>