<div id="foldersAndFilesContainer" class="flex-1 block bg-gray-900 p-4 border-t border-gray-700">
    <%- include("./folders_nav_mobile") %>
    <% if (folder.childFolders.length === 0 && folder.files.length === 0) { %>
        <div class="flex justify-center">
            <p class="mt-12 text-gray-600">Folder is empty</p>
        </div>
    <% } %>    
    <% if (locals.folder) { 
        folder.childFolders.forEach((folder) => { %>
            <div class="relative flex items-center justify-between mb-2">           
                <a 
                    href="<%= locals.isSharedFolder ? `/share/${sharedLinkId}/${folder.id}` : `/storage/${folder.id}` %>"
                    class="folder-link relative cursor-pointer flex gap-4 items-center w-full h-10 text-white pl-4 border border-transparent  
                          hover:bg-gray-800"
                    data-type="folder"
                    data-id="<%= folder.id %>"
                >
                    <div class="">
                        <img src="/images/folder.svg" class="w-8"/>
                    </div>                
                    <div class="">
                        <%= folder.name %>
                    </div>                                
                </a>
                <% if (!locals.isSharedFolder) { %>
                    <%- include("./rename_folder_or_file_form", { type: 'folder', folder }) %>
                    <div class="option-menu-container relative flex">
                        <button 
                            class="option-menu-button hover:bg-gray-800" 
                            data-type="folder" 
                            data-id="<%= folder.id %>"
                        >
                            <img src="/images/options.svg" class="cursor-pointer p-2 w-11"/>                        
                        </button>  
                        <%- include("./folder_or_file_option_menu", { type: 'folder', folder: {id: folder.id, name: folder.name}, parentFolderId }) %>
                    </div>
                <% } %>                                            
            </div>             
    <% })} %>
    <% if (locals.folder) {
        folder.files.forEach((file) => { %>
            <% const systemTimeZone = Intl.DateTimeFormat().resolvedOptions().timeZone; %>
            <div class="flex items-center justify-between">           
                <button                    
                    data-type="file"
                    data-id="<%= file.id %>"
                    data-folder-id="<%= file.folderId %>"
                    data-name="<%= file.name %>"
                    data-size="<%= file.size < 1000000 ? (file.size / 1000).toFixed(2) + ' KB' : (file.size / 1000000).toFixed(2) + ' MB' %>"
                    data-mimetype="<%= file.mimeType %>"
                    data-created="<%= file.createdAt.toLocaleString('en-GB', { 
                                        month: 'short', 
                                        year: 'numeric', 
                                        day: 'numeric', 
                                        hour: '2-digit', 
                                        minute: '2-digit', 
                                        second: '2-digit', 
                                        timeZone: systemTimeZone,
                                        timeZoneName: 'short',
                                        hour12: false 
                                    }) %>"
                    data-url="<%= file.url %>"
                    data-share-id="<%= locals.isSharedFolder ? sharedLinkId : '' %>" 
                    class="file-button open-file-details-modal-button relative cursor-pointer flex gap-4 items-center w-full h-10 text-white pl-4
                          hover:bg-gray-800"
                >
                    <div class="">
                        <img src="/images/file.svg" class="w-5"/>
                    </div>                
                    <div class="">
                        <%= file.name %>
                    </div>                                
                </button>
                <% if (!locals.isSharedFolder) { %>
                <%- include("./rename_folder_or_file_form", { type: 'file', file }) %>
                    <div class="option-menu-container relative flex">
                        <button 
                            class="option-menu-button hover:bg-gray-800" 
                            data-id="<%= file.id %>"
                            data-type="file"
                        >
                            <img src="/images/options.svg" class="cursor-pointer p-2 w-11"/>                        
                        </button>  
                        <%- include("./folder_or_file_option_menu", { type: 'file', file: {id: file.id, name: file.name}, parentFolderId }) %>
                    </div>
                <% } %>   
            </div>  
    <% })} %>     
</div>