<form   
    action="/storage/<%= parentFolderId %>/rename-<%= type === 'folder' ? `folder/${folder.id}` : `file/${file.id}` %>"
    method="POST"            
    class="form hidden relative gap-4 items-center w-full h-10 text-white pl-4
           hover:border-gray-700"
    data-id="<%= type === 'folder' ? folder.id : file.id %>"
    data-type="<%= type === 'folder' ? 'folder' : 'file' %>"
    >   
    <div>
        <% if (type === 'folder') { %>
            <img src="/images/folder.svg" class="w-8"/>
        <% } else { %>
            <img src="/images/file.svg" class="w-5"/>
        <% } %>        
    </div>                     
    <input                
        type="text"
        name="<%= type === 'folder' ? 'newFolderName' : 'newFileName' %>"       
        value="<%= type === 'folder' ? folder.name : file.name %>"
        data-type="<%= type === 'folder' ? 'folder' : 'file' %>"
        data-id="<%= type === 'folder' ? folder.id : file.id %>"               
        autocomplete="off"
        spellcheck="false"                
        aria-label="<%= type === 'folder' ?'Rename folder': 'Rename file' %>"        
        class="input px-2 py-1 bg-gray-800
               focus:outline-none 
               focus:ring-1 
             focus:ring-blue-500"          
    />           
    <button class="p-1 rounded-xs text-white transition
                    hover:opacity-70"
    >
        <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="currentColor" stroke="rgb(44, 150, 64)" style="color:rgb(44, 150, 64)"  aria-hidden="true" focusable="false">
            <path d="M9.993 19.421 3.286 12.58l1.428-1.401 5.293 5.4 9.286-9.286 1.414 1.414L9.993 19.421z"/>
        </svg>
    </button>    
    <button         
        type="button"
        data-id="<%= type === 'folder' ? folder.id : file.id %>"
        data-type="<%= type === 'folder' ? 'folder' : 'file' %>" 
        aria-label="Close rename folder form" 
        class="close-rename-folder-form-button cursor-pointer p-1 inline-flex items-center justify-center text-gray-400 
                hover:opacity-70"
    >
        <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="rgb(174, 65, 65)" aria-hidden="true" focusable="false" style="color:rgb(174, 65, 65)">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
    </button>               
</form>
    
