<aside 
    class="hidden md:block pt-2 px-8 border-r border-gray-700"
    aria-label="Folders navigation"
>   
    <div id="foldersTree" class="grid overflow-auto pb-8">
        <% function renderFoldersTree(folders, containerId) {            
            folders.forEach((folder) => { %>
                <div 
                    class="container relative flex
                            <%= folder.parentFolderId === null 
                            || folder.parentFolderId === rootFolderId 
                            || (folderWithParentFoldersArray && folderWithParentFoldersArray.some(element => element.id === folder.id || element.id === folder.parentFolderId)) 
                            ? '' : 'hidden' %>"                            
                    data-container-id="<%= folder.id %>"
                >
               
                    <% if (folder.childFolders.length > 0 || folder.files.length > 0) { %>
                        <button 
                            class="arrow-button item absolute cursor-pointer top-1 transition
                                   <%= folder.parentFolderId === null                                 
                                   || folderWithParentFoldersArray && folderWithParentFoldersArray.some((element) => element.id === folder.id)
                                   ? 'rotate-90' : '' %> 
                                   hover:opacity-80" 
                            data-id="<%= folder.id %>"
                        >
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#eaeae7" class="pointer-events-none" viewBox="0 0 16 16" part="svg">
                                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"></path>
                            </svg>
                        </button>
                    <% } %>                        
                    <div class="folder-container w-full pl-6 grid" data-folder-container-id="<%= folder.id %>">                        
                        <a 
                            href="<%= locals.isSharedFolder ? `/share/${sharedLinkId}/${folder.id}` : `/storage/${folder.id}` %>" 
                            class="folder item text-gray-300 flex items-center whitespace-nowrap
                                hover:bg-gray-800
                                <%= folder.id === parentFolderId ? 'bg-gray-700' : '' %>"                                
                            data-folder-id="<%= folder.id %>"                                
                        >
                            <svg class="w-4 mx-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
                                <path stroke="#eaeae7" d="M64 15v37a5.006 5.006 0 0 1-5 5H5a5.006 5.006 0 0 1-5-5V12a5.006 5.006 0 0 1 5-5h14.116a6.966 6.966 0 0 1 5.466 2.627l5 6.247A2.983 2.983 0 0 0 31.922 17H59a1 1 0 0 1 0 2H31.922a4.979 4.979 0 0 1-3.9-1.876l-5-6.247A4.976 4.976 0 0 0 19.116 9H5a3 3 0 0 0-3 3v40a3 3 0 0 0 3 3h54a3 3 0 0 0 3-3V15a3 3 0 0 0-3-3H30a1 1 0 0 1 0-2h29a5.006 5.006 0 0 1 5 5z" style="fill:#eaeae7"/>
                            </svg>                        
                            <%= folder.name %>                       
                        </a>                        
                        <% if (folder.childFolders.length > 0) {
                            renderFoldersTree(folder.childFolders, folder.id) 
                        } %>
                        <% if (folder.files && folder.files.length > 0) {
                            folder.files.forEach((file) => { %>
                                <button
                                    data-type="file"
                                    data-id="<%= file.id %>"
                                    data-folder-id="<%= file.folderId %>"
                                    data-name="<%= file.name %>"
                                    data-size="<%= file.size %>"
                                    data-mimetype="<%= file.mimeType %>"
                                    data-created="<%= file.createdAt %>"
                                    data-url="<%= file.url %>"
                                    data-share-id="<%= locals.isSharedFolder ? sharedLinkId : '' %>"                                     
                                    class="open-file-details-modal-button cursor-pointer text-gray-300 ml-8 flex whitespace-nowrap
                                        hover:bg-gray-800
                                        <%= folder.parentFolderId === null 
                                        || folderWithParentFoldersArray && folderWithParentFoldersArray.some(segment => segment.id === file.folderId) ? '' : 'hidden' %>"                                                                          
                                >
                                    <svg class="w-5 mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                        <path stroke="#eaeae7" stroke-linejoin="round" stroke-width="1" d="M10 3v4a1 1 0 0 1-1 1H5m14-4v16a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V7.914a1 1 0 0 1 .293-.707l3.914-3.914A1 1 0 0 1 9.914 3H18a1 1 0 0 1 1 1Z"/>
                                    </svg>
                                    <%= file.name %>                       
                                </button>
                            <% }) %>
                        <% } %>                    
                    </div>
                </div>               
            <% }) %>
        <% } %>
        <%= renderFoldersTree(foldersTreeArray) %> 
    </div>   
</aside>